*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
}
:root{
    --card-height: 200px;
}
.container{
    display: flex;
    justify-content: center; 
    margin-top: 2em;
   
}
.card{
    border: 1px solid #000;
    height: var(--card-height);
    width: calc(200px* 2/3);
    border-radius: 5px;
    display: grid;
    padding: .5em;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3em ;
}
.bottom{
    transform: rotate(180deg);
}
.top > div:first-child
.bottom > div:first-child{
    padding: 2px;
}
.card:hover{
    transform: rotateY(90deg) scale(1.5);
    transition: transform 3s;
}
.card :active{
transform: rotate(180deg);
transition: transform 3s;
}
